<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class ="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        </button>

        <!-- Brand Image-->
        <a href="#" id="" class="navbar-brand">aflashyrhetoric</a>

      </div> <!--navbar-header-->

      <!--navbar links-->
      <div class="nav navbar-nav">
        <li class = "<%= 'active' if params[:action] == 'home' %>">
          <%= link_to 'home', {:controller => 'basic_pages', :action => 'home'} %></li>

        <li class = "<%= 'active' if params[:action] == 'about' %>">
          <%= link_to 'about', {:controller => 'basic_pages', :action => 'about'} %></li>

        <li class = "<%= 'active' if params[:controller] == 'blog' %>">
          <%= link_to 'blog', 'blog' %></li>

        <li class = "<%= 'active' if params[:controller] == 'portfolio' %>">
          <%= link_to 'portfolio', 'portfolio'  %> </li>

       <li class = "<%= 'active' if params[:action] == 'contact' %>" >
          <%= link_to 'contact', 'contact' %></li>
        <li class = ></li>
      </div>
    </div> <!--container-fluid-->
  </nav>
</header>