<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class ="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        </button>

        <!-- Brand Image-->
        <a href="#" class="navbar-brand">Brand</a>
      </div> <!--navbar-header-->


      <div class="nav navbar-nav">


     
     
      <%= 'active' if params[:controller] == 'portfolio' %>
      <%= 'active' if params[:controller] == 'contact' %>
        <li class = "<%= 'active' if params[:action] == 'home' %>">
          <%= link_to 'home', 'home'  %>
        </li>
        <li class = "<%= 'active' if params[:action] == 'blog' %>">
          <%= link_to 'blog', {:controller => 'blog', :action => 'index'} %>
        </li>
        <li class = "<%= 'active' if params[:action] == 'portfolio' %>">
          <%= link_to 'portfolio', 'portfolio'  %>
        </li>
       <li class = "<%= 'active' if params[:action] == 'contact' %>" >
          <%= link_to 'contact', 'contact'  %>
          </li>
        <li class = ></li>
      </div>
    </div> <!--container-fluid-->
  </nav>
</header>