<% @page_title = "portfolio" %>

<% @portfolio_sites.each do |site| %>
<div class="portfolioContainer container-fluid">
  <div class="portfolioRow row">

    <div class="col-md-4">
      <ul>
        <li class="title"><%= site.title %></li>
        <br>
        <li class="description"><%= site.description %></li>
        <br>
        <li class="technologyUsed"><b>Technology Used:</b> <%= site.technology_used %></li>
        <br>
        <li class="URL"><b>Visit:</b> <%= link_to site.URL, site.URL %> </li>
      </ul>
    </div>

    <div class="col-md-8">
      <%= link_to image_tag(site.thumburl, class: "img-thumbnail"), site.URL %> 
    </div>

  </div> <!--Row-->
</div> <!--Container-->

<% end %>