<% @page_title = "contact" %>
<% @message_sent = true %>



<div class = "container">
  <%= form_tag("/message", method: "post", class: "col-md-6") do %>
    <%= label_tag(:name, "Name") %>
    <br>
    <%= text_field_tag(:name) %>
    <br>
    <br>
    <%= label_tag(:title, "Subject") %>
    <br>
    <%= text_field_tag(:title) %>
    <br>
    <br>
    <%= label_tag(:message, "Message") %>
    <br>
    <%= text_area_tag(:message) %>
    <br>
    <br>
    <%= submit_tag("Submit") %>
  <% end %>
</div>