<!DOCTYPE html>
<html>
<head>

  <title><%=
    # adjusts page title 
    if defined?(@page_title)
    	"aflashyrhetoric | " + "#{@page_title}"
    else
    	"aflashyrhetoric"
    end
  %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
